body {
    margin: 0;
    padding: 0;
}

.container_section {
    display: flex;
    width: 100%;
}

.block {
    display: flex;
    width: 33.33%;
    justify-content: center;
    align-items: center;
}